
*{
    margin: 0%;
}
img{
  border: 5px solid whitesmoke;
}
body{
 background-image: linear-gradient(to right , rgba(195, 55, 99, 0.7) , rgba(27, 39, 150, 2),
  rgba(195, 55, 99, 2) , rgba(29, 37, 113, 0.7)
 );
  
}

.navbar{
    font-family: 'Playfair Display SC', serif;
    padding : 0;
    margin: 0%;
    background-color: rgba(255, 255, 255, 0.4);
    font-weight: 700;
    
    
}
.navbar p {
    color: white;
    margin: 0em;
}

.navbar span{
    font-size: 1.7rem;
}

.navbar-toggler {
    padding: 0%;
}
.burger{
    font-size: 3rem;
    
}
.navbar-brand{
    padding: 0%;
    margin-right: 40px;
}
.navbar-brand img{
    
    text-align: center;
    border-radius: 10px;
    transform: translate(10%,10%);
    }
.nav-item{
    font-family: 'PT Sans Narrow', sans-serif;
     margin-right: 10vw;
    font-weight: 800;
}


.form-inline {
justify-content: center;
    margin-bottom: 5vh;

}
.form-inline button{
    background-color: whitesmoke;
    font-weight: 700;

}


.nav-link {
    letter-spacing: 3px;   
}

.nav-item a{
    color: white;
font-style: oblique;
    font-weight: 900;
     font-size: 25px;


}
.nav-item {
    text-align: center;
    padding: 0;
}

.navbar-toggler{
    font-size: 33px;
    color: snow;
    transform: translateX(-2px);
} */

/* search box  ___________________________________________ */

#searchbox{
    display: flex ;
    justify-content: center;
}

.searchbtn{
    background-color: snow;
 
}
.form-inline{
     display: flex;
    justify-content: center;
    align-items: center;

}

.latest{
    overflow: hidden;
    display: flex;
    justify-content: space-evenly ;

}
.latest a {
    color: white;
    text-transform: capitalize;
    text-align: center;

    
}

.latest img {
    width: 360px;
    height: 270px;
}



.desbox ,.desbox2   
{   

    margin: 0px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 20;
    line-height: 3rem;
}
.desbox p{
    font-size: 2rem;
    line-height: 100%;

}

.desbox2  {
    line-height: 100%;
    padding-top: 30px;
    padding-bottom: 10vh;
    
    
}
.featured {

 align-content: center;
 line-height: 100%;
 color: whitesmoke;
 font-weight: 600;
 font-size: 3rem;
 
}
@media only screen and (max-width: 1080px) {
    .featured{
 align-content: center;
}

}


.MOSTV{
    line-height: 100%;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size:2rem;
}
.MOSTV span{
    font-size:3rem;
}


.carousel-inner{
    max-height: 300px;
}

.carousel{
    max-width: 100%;
    text-align: center;
}

.carousel-item img {
    width: 400px;
    height: 300px;
  }

.hometitle{
    text-align: center;
    text-align: center;
    height: 30px;
    font-size:2rem;
    font-weight: 500;

}
.hometitle p{
    text-align: center;
    text-align: center;
    height: 60px;

}
.MOSTR{
    font-weight: 700;
    color: white;
    text-align: center;
    text-align: center;
    font-size:2rem;
}
.MOSTR span {
    font-weight: 700;

    font-size:3rem;
}



.mrcontainer p{
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: large;
}


.mrcontainer{
   display: flex;
    padding: 0;
    margin-bottom: 5vh;
}

.mrcontainer img 
{    border-radius: 25px;
    width: 100vw;
    max-width: 450px;
    height: 60vw;
    max-height: 300px;
}



.mritems{
    margin: 0;
   max-width: 550px;
   text-align: center;

}

.mritems p{

    margin: 0;
   max-width: 500px;
   text-align: center;

}


.vrbutton {
    text-align: center;
    
}
.vrbutton button{
    text-transform: capitalize;
    border-radius: 20px;
}

.sweet{
    line-height: 100%;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    text-align: center;
}



.pagination{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 40vh;
}
.current{
  margin : 5px;
  color: antiquewhite;
  transform:  translateY(5px);

}

.pagebtn {
    text-align: center;
    margin-bottom: 30px;
}
.pagebutton{
  background-color: white;
  text-transform: capitalize;
  border-radius: 10px;
  color:#2e1437 ;
}
.titledes{
    font-size:1.5rem;
    font-stretch: semi-condensed;
    letter-spacing: 1.5px;
    line-height: 110%;
    font-weight: 600;
}

.icons{
    margin-left: 20px;
    padding: 5px;
    font-size: 3rem;
}
/* ________________________________________________MEDIA QUERY */
@media only screen and (max-width: 1080px) {
    .mrcontainer img 
{    border-radius: 25px;
    
    width: 100vw;
    max-width: 400px;
    height: 75vw;
}
    .col-sm-3 p{
        font-size: 1rem;
    }
    .latest img {
    width: 180px;
    height: 135px;
}

    


}

.containerlist {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    text-align: center;
}
.containerlist p {
   color: white;
   text-transform: capitalize;
}
.containerlist img {
    max-width: 450px;
    max-height: 300px;
    min-width: 280px;
    min-height: 210px;
    height: 30vw;
    width: 40vw;
    margin: 5px;
    border-radius: 20px;

}
.searchimg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 30vh;

}
.searchimg p {
    color: white;
    font-size: 1.5rem;
    text-transform: capitalize;
}
.searchimg img{
    min-height: 210px;
    min-width: 280px;
    max-height: 300px;
    max-width: 450px;
    width: 100vw;
    border: 5px solid transparent;
}

@media only screen and (max-width: 600px) {
    .mrcontainer img 
{    border-radius: 25px;
    width: 100vw;
    max-width: 400px;
    height: 75vw;
}
    .desbox ,.desbox2   
{
    text-align: center;
    color: white;
    font-size: 1rem;
        line-height: 1rem;
        letter-spacing: 1px;

}
.latest img {
    width: 180px;
    height: 135px;
}
.carousel-inner p{
    font-size: 1.5rem;
}

.jumbotron , .icons{
    font-size: 110%;
}
.grid-container {
  grid-template-columns: 1fr 1fr ;
}
.grid-container-list {
  grid-template-columns: 1fr 1fr ;
}
.titledes{
    font-size:1.5rem;
    font-stretch: semi-condensed;
    letter-spacing: 1.5px;
    line-height: 110%;
    font-weight: 600;
}

}



/* ___________________________________________________ */
