*{ 
  letter-spacing: 2px;
  list-style: none;
  
}
img{
  border: 5px solid whitesmoke;
}
body{
  overflow-x: hidden;
width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}


.buttoning{
  color: black;
}
.title{
  text-align: center;
  margin: 0;
}

.content {
  line-height: 120%;
  font-weight: 600;
  background-color: rgba(56, 56, 56, 0.457);
}

.titletext {
  
  text-transform: capitalize;
  color: black;
  font-size:2rem;
  font-weight: 500;

  
  

}
.title img {
  width: 100vw;
  max-width: 500px;
  max-height: 375px;
  
}

.postd {
  text-align: center;
  color: aliceblue;
  text-transform: capitalize;
  font-size: 1.5rem;
}
.postd p{

}
.subtitle{
  text-align: center;
align-items: center;
}
.subtitle img{
   width: 75vw;
  max-width: 400px;
  max-height: 300px;
  margin-bottom: 15px;
}
.videofile {
  width: 100vw;
  max-width: 800px;
  margin-bottom: 15px;
  text-align: center;


}

.text_one{
  text-align: left;
}








.contact{
  margin-left: 20vw;
  background-color: rgba(253, 253, 253, 0.457);

  margin-top: 20vh;
  /* margin-bottom: 50vh; */
  text-transform : capitalize ;
  letter-spacing: 5px;

}

.contactbox{
  background-color: rgba(253, 253, 253, 0.457);
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 5vh;
  margin-top: 3vh;
  margin-bottom: 10vh;
  text-transform: capitalize;
  font-size: 20px;
  /* list-style: none; */
}

.contactbox > a {
 color: black;
 
}

.icons{
  text-align: center;
  font-size: 50px;
}



.description{
  color: antiquewhite;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: 'Courgette', cursive;
  font-size: 1.5rem;
  text-align: center;
  padding: 10vh;
  margin-top: 15vh;
  margin-bottom: 5vh;
  
}
.linkbox {
  background-color: rgba(56, 56, 56, 0.457);

  margin-top: 5vh;
  margin-bottom: 30vh;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr  ;
}

.linkbox a{
  padding: 10px;
  overflow: hidden;
  line-height: 150%;
  max-width: 50vw;
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;
  text-transform: uppercase;

}


.ingtitle{
  font-size: 4vw;
  text-align: center;
  text-transform: capitalize;
  margin:  5vh;
}


@media only screen and (max-width: 1080px) {

  .linkbox {
 
 grid-template-columns: 1fr 1fr  ;
}


 .image_grid1{
  grid-template-columns: 1fr  1fr ;
}
.description{
 
  font-size: 1.1rem;
  letter-spacing: 3px;

}
.linkbox {
 grid-template-columns: 1fr 1fr 1fr   ;
}

}


@media only screen and (max-width: 600px) {

    .linkbox {
 
 grid-template-columns: 1fr 1fr  ;
}
  .linkbox a{
  font-size: 4vw;


}
 
.image_grid1{
  grid-template-columns: 1fr 1fr ;
}

.title-container img{
  width: 50%;
  /* width: 35%; */
 
}
}
