{% extends 'basic_app/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'basic_app/css/postdetail.css' %}" type="text/css" />

<h3 class="contact"> contact - </h3>
<div class="contactbox">
<a href="https://www.instagram.com/cherryontop_12m/"> instagram <p class="icons"> <ion-icon name="logo-instagram"></ion-icon></p> </a>
<a href=" https://www.gmail.com/cherryontop12m"> email <p class="icons"> <ion-icon name="mail"></ion-icon> </p> </a>
<a href="https://www.pinterest.com/CherryOnTop/"> pintrest <p class="icons"> <ion-icon name="logo-pinterest"></ion-icon></p> </a>

</div>




    {% endblock %}