{% extends 'basic_app/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'basic_app/css/postdetail.css' %}" type="text/css" />




<div class="desbox">
    <p class="ingtitle"> {{ingredients.title}}- is the ingredient </p>
</div>

{% if not page_obj  %}
<div class=" jumbotron">

    <p> Sorry there are no articles related to this Ingredient -{{ingredients.title}} </p>
</div>
{% endif %}
<br>
<br>
<div class="container containerlist">
    {% for post in posts reversed %}
    <a href="{%url 'basic_app:home' %}detail/{{ post.id }}">
        <img src="{{ post.image1.url }}" alt="">
        <p> {{ post.title }}</p>
    </a>
    {% endfor %}
</div>

<!-- 
<p class="ingtitle">  {{ingredients.title}}- is the ingredient   </p>
<div class="container">
    <div class="grid-container-list">
        {% for post in posts reversed %}
        <div class="grid-item">
            <a href="{%url 'basic_app:home' %}detail/{{ post.id }}">
                <img src="{{ post.image1.url }}" alt="">
                <p> {{ post.title }}</p>
            </a>
        </div>
        {% endfor %}
    </div>


</div>

 -->

{% endblock %}